:root {
    --cr-blue: #3669c9;
    --cr-dark-blue: #1c3a75;
    --cr-gold: #fccf4d;
    --cr-gold-shadow: #d48719;
    --cr-text-stroke: #000;
    --bg-color: #121212;
}

* {
    box-sizing: border-box;
    font-family: 'Lilita One', cursive, sans-serif;
    list-style: none;
}

body {
    background-color: var(--bg-color);
    background-image: radial-gradient(circle at center, #2b3e63 0%, #0a0e17 100%);
    color: white;
    margin: 0;
    padding: 20px;
    display: flex;
    justify-content: center;
    min-height: 100vh;
}